* {
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    
}

body {
    background-size: 100%;
    background: cover;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #000207;
}

body .principal {
    display: flex;
}

body .box {
    flex-direction: column;
    width: 50%;

}

main {
    display: flex;
    padding: 50px;
}

body main #titulo {
    text-align: center;
}

body main #description {
    text-align: justify;
    width: 50%;
    display: none;

}

body #imagem, #video {
    width: 400px;
    height: 400px; 
    display: none; 
    margin: auto;
}

body #erro {
    display: none;
}

footer {
    display: absolute;
    justify-content: center;
    align-items: center;
    background-color: #000207;
    color: #ffffff;
    text-align: center;

}


/* scroll bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }